@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AttributeKey

    <a asp-action="Index" asp-controller="EntityTypes" >Добавить справочник</a>

<form>
    <div class="form-group" style="width: 285px;">
          <input id="keyname"
          type="text"
          asp-for="name"
          required="required"/>
          <label class="control-label" for="input">Имя атрибута</label><i class="bar"></i>
        </div>

 <div class="form-group" style="width: 285px;">
    <select id="attrtype" name="attrtype" onchange="TypeChanged()">
        <option value="0">Целое число</option>
        <option value="1">Вещественное число</option>
        <option value="2">строка</option>
        <option value="3">Справочник</option>
        <option value="4">фотографии</option>
        <option value="5">Материальныe объекты</option>
    </select>
    <label class="control-label" for="select">Selectbox</label><i class="bar"></i>
 </div>

    <div class="collapse" id="ChooseEntityTypes">
        @Html.Partial("Choose",ViewData["ETypes"])
    </div>

    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Button
    </button>
    <input id="addAttr" type="button" value="Добавить атрибут" onclick="addattribute()" />
</form>