@model IEnumerable<SviyajskMonitorSystem.Models.Storage>

@{
    ViewData["Title"] = "Index";
}

<h2>Места хранения</h2>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Организация
            </th>
                <th>
                    @Html.DisplayNameFor(model => model.Place)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Organization.Name
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>

                <a asp-action="Delete" asp-route-id="@item.Id">удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
